
<div *ngIf="user">

        <div class="content row justify-content-center align-items-center m-0">
            <div class="user-side col-12 col-md-4">
                <div class="container">
                    <div class="row row-profile justify-content-center  align-self-center row-profile">
                        <!-- <img class="profile-img" src="{{user.image}}"> -->
                        <div class="profilepic">
                            <img class="profilepic__image" [src]="user.avatar" width="150" height="150" alt="Profibild" />
                            <div class="profilepic__content">
                                <label class="profilepic__icon" for="filePhoto"><i class="fas fa-camera"></i></label>
                                <label class="profilepic__text" for="filePhoto">CAMBIAR IMAGEN</label>
                                <input type="file" name="filePhoto" id="filePhoto" (change)="changePhotoURL($event)" style="display: none;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="user-information col-12 col-md-8">
                <div class="container">
                    <h5>Informacion del negocio</h5>
                    <hr>
                    <div class="row">
                        <div class="col">
                            <h4>Nombre:</h4>
                            <p>{{ user.username }}</p>
                            <h4>Correo:</h4>
                            <p>{{ user.email }}</p>
                            <h4>Ciudad:</h4>
                            <p>{{ user.city }}</p>
                        </div>
                        <div class="col">
                            <h4>Dirrecion</h4>
                            <p>{{ user.address }}</p>
                            <h4>Pais:</h4>
                            <p>{{ user.country }}</p>
                            <h4>Telefono:</h4>
                            <p>{{ user.phone }}</p>
                        </div>
                    </div>
                    <div class="d-grid gap-2 col-6 mx-auto">
                        <button class="btn btn-warning btn-lg edit-btn" data-bs-toggle="modal" data-bs-target="#exampleModal">Editar</button>
                    </div>
                </div>
            </div>
        </div>

</div>    
