
    <div class="content row justify-content-center align-items-center">
        <div class="user-side col-4">
            <div class="container">
                <div class="row row-profile justify-content-center  align-self-center">
                    <img class="profile-img" src="{{user.image}}">
                </div>
            </div>
        </div>
        <div class="user-information col-8">
            <div class="container">
                <h5>Informacion del negocio</h5>
                <hr>
                <div class="row">
                    <div class="col">
                        <h4>Nombre:</h4>
                        <p>{{user.name}}</p>
                        <h4>Correo:</h4>
                        <p>{{user.email}}</p>
                        <h4>Verificacion de correo:</h4>
                        <p>{{user.emailVerified}}</p>
                    </div>
                    <div class="col">
                        <h4>Direccion:</h4>
                        <p>{{user.address}}</p>
                        <h4>Telefono:</h4>
                        <p>{{user.tel}}</p>
                        <h4>Locacion:</h4>
                        <p>{{user.location}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

