
.profile-img {
  margin: auto;
  border-radius: 50%;
  height: 250px;
  width: 250px;
  padding: 0;
  box-sizing: border-box;
}



.content {
  min-height: 100vh;
  width: 100%;
}

.user-side {
  background: linear-gradient(20deg, #F60 0%, #FF6 100%);
  height: 100vh;

}

.row-profile {
  height: 100vh;
}

p {
  font-size: 1rem;
}

@media (max-width: 780px) {
  .div {
    background-size: contain;
  }
  p {
    font-size: 0.8rem;
  }

  .user-side {
    height: 50vh;
  }



  .row-profile {
    height: 50vh;
  }

  .profilepic {
    height: 150px;
    width: 150px;

  }

  .user-information {
    margin-top: 1rem;
    padding-top: 1rem;
  }
}



.profilepic {
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  background-color: #111;
  margin: auto;
  height: 250px;
  width: 250px;
  padding: 0;
  box-sizing: border-box;
}

.profilepic:hover .profilepic__content {
  opacity: 1;
}

.profilepic:hover .profilepic__image {
  opacity: .5;
}

.profilepic__image {
  object-fit: cover;
  opacity: 1;
  transition: opacity .2s ease-in-out;
  width: 250px;
  height: 250px;
}

.profilepic__content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  opacity: 0;
  transition: opacity .2s ease-in-out;
}

.profilepic__icon {
  color: white;
  padding-bottom: 8px;
}

.fas {
  font-size: 30px;
}

.profilepic__text {
  text-transform: uppercase;
  font-size: 15px;
  width: 50%;
  text-align: center;
}