<div class="col bg" style="position: relative; height: 100vh;">
    <div class="container ">

    <!-- TEXT -->
    <div class="" style="height: 40vh; z-index: 9999;">
      <div class="">
        <div class="row">
          <h1 class="text-center " style="font-weight: bold; font-size: 10vh; margin-top: 10vh;">JessCount</h1>
        </div>
        <div class="row">
          <p class="text-center fs-3 ">Administrador de tiendas online</p>
        </div>
        <div class="row">
          <button class=" btn btn-light m-auto shadow-lg" style="width: 15vw; border-radius: 10rem; padding: 1rem; min-width: 100px;">Ingresar</button>
        </div>
      </div>
    </div>

    <!-- SVG -->
    <div class="row align-items-center align-self-center">
      <div class="col  align-items-center align-self-center  d-none d-sm-block">
        <img src="../../assets/Money.svg" style="width: 10vw; background-size: cover;" class="ms-5">
      </div>
      <div class="col align-items-center align-self-center" style="z-index: 1;">
        <img src="../../assets/LogoSVG.svg" class="icon-logo text-center">
      </div>
      <div class="col  align-items-center align-self-center d-none d-sm-block" >
        <img src="../../assets/Money.svg" style="width: 10vw; background-size: cover;" class="ms-5">
      </div>
    </div>

  </div>

  <svg  class="wave-top-title" viewBox="0 0 500 150" preserveAspectRatio="none" >
    <defs>
      <linearGradient id="WaveTopTitle" gradientTransform="rotate(75)">
        <stop offset="0%" stop-color="#F60" />
        <stop offset="100%" stop-color="#FF6" />
      </linearGradient>
    </defs>
    <path d="M-1.97,0.50 C149.99,150.00 354.12,144.56 501.41,-0.48 L565.74,-64.63 L-49.38,-44.89 Z" style="stroke: none;" fill="url(#WaveTopTitle)"></path>
  </svg>

  <svg class="wave-top" viewBox="0 0 500 150" preserveAspectRatio="none" >
    <defs>
      <linearGradient id="WaveTop" gradientTransform="rotate(75)">
        <stop offset="0%" stop-color="#F60" />
        <stop offset="100%" stop-color="#FF6" />
      </linearGradient>
    </defs>
    <path d="M-1.41,-23.19 C-0.84,176.14 501.41,194.89 501.41,-17.27 L500.00,0.00 L0.00,0.00 Z" style="stroke: none;" fill="url(#WaveTop)"></path>
  </svg>

  <img class="wave-bottom" src="../../assets/Wave.svg">
</div>

<div class="container ">
  <div class="col secondPart d-none d-sm-none d-md-block" >
    <div class="row align-self-center align-content-center row row-cols-1 row-cols-sm-1 row-cols-md-2" style="height: 45vh;">

      <div class="col">
        <img src="../../assets/blob.svg" class="blob " alt="">
      </div>

      <div class="col">
      <h1 class="mt-5">Lorem ipsum dolor sit amet.</h1>
      <p>Lorem ipsum dolor sit amet consectetur, adipisinvent, porro delectus cumque quam eius quidem eligendi sed aliquid sunt nesciunt. Cum omnis labore nesciunt asperiores! Tenetur eligendi accusantium iusto incidunt officia nam nobis aut illo?</p>
      </div>
    </div>
    <hr>

    <div class="row align-self-center align-content-center row row-cols-1 row-cols-sm-1 row-cols-md-2" style="height: 45vh;">
      <div class="col">
        <h1 class="mt-5">Lorem ipsum dolor sit amet.</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas eiusmolestias inventore odit culpa rerum nobis facere, eveniet ut sint, porro delectus cumque quam eius quidem eligendi sed aliquid sunt nesciunt. Cum omnis labore nesciun</p>
      </div>
      <div class="col">
        <img src="../../assets/blob (1).svg" class="blob img-fluid float-end" alt="">
      </div>
      
    </div>
  </div>

  <div class="col secondPart d-block d-sm-none " >
    <div class="col align-self-center align-content-center row row-cols-1 row-cols-sm-1 row-cols-md-2" style="min-height: 50vh;">

      <div class="row">
        <img src="../../assets/blob.svg" class="blob img-fluid icon-logo" alt="">
      </div>

      <div class="row text-center">
        <h1>Lorem ipsum dolor sit amet.</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisinvent, porro delectus cumque quam eius quidem eligendi sed aliquid sunt nesciunt. Cum omnis labore nesciunt asperiores! Tenetur eligendi accusantium iusto incidunt officia nam nobis aut illo?</p>
      </div>
    </div>
    <hr>

    <div class="col align-self-center align-content-center row row-cols-1 row-cols-sm-1 row-cols-md-2" style="min-height: 50vh; ">
      
      <div class="row">
        <img src="../../assets/blob (1).svg" class="blob img-fluid icon-logo" alt="">
      </div>

      <div class="row text-center" style="padding-bottom: 5vh;">
        <h1>Lorem ipsum dolor sit amet.</h1>
        <p>Lorem ipsum dolor sit a amet consectetur, adipisicing elit. Quas eiusmolestias inventore odit culpa r amet consectetur, adipisicing elit. Quas eiusmolestias inventore odit culpa r amet consectetur, adipisicing elit. Quas eiusmolestias inventore odit culpa rmet consectetur, adipisicing elit. Quas eiusmolestias inventore odit culpa rerum nobis facere, esddfsafdsfgdsgfdgfdgfdgfdgfdgfdgfgdgfdveniet ut sint, porro delectus cumque quam eius quidem eligendi sed aliquid sunt nesciunt. Cum omnis labore nesciun</p>
      </div>
    </div>

  </div>
</div>
<div class="col bg-contact" style="height: 100vh; position: relative;">
  <img src="../../assets/Cloudy.svg" class="cloudy" style="z-index: 0; object-fit: cover;" alt="">
</div>
