<div class="col" style="position: relative;">
    <div class="container ">

    <!-- TEXT -->
    <div class="row">
      <h1 class="text-center" style="font-weight: bold; font-size: 10vh;">JessCount</h1>
    </div>
    <div class="row">
      <p class="text-center fs-3">Administrador de tiendas online</p>
    </div>

    <!-- SVG -->
    <div class="row align-items-center align-self-center">
      <div class="col">
        <img src="../../assets/Money.svg" style="width: 10vw;" class="ms-5">
      </div>
      <div class="col">
        <img src="../../assets/LogoSVG.svg" style="width: 30vw;">
      </div>
      <div class="col" >
        <img src="../../assets/Money.svg" style="width: 10vw;" class="ms-5">
      </div>
    </div>

  </div>

  <div class="wave-top-title" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M-1.97,0.50 C149.99,150.00 354.12,144.56 501.41,-0.48 L565.74,-64.63 L-49.38,-44.89 Z" style="stroke: none; fill: rgb(94, 131, 163);"></path></svg></div>
  <svg class="wave-top" viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M-1.41,-23.19 C-0.84,176.14 501.41,194.89 501.41,-17.27 L500.00,0.00 L0.00,0.00 Z" style="stroke: none; fill: #08f;"></path></svg>
</div>
